<div class='panel panel-primary'>

  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <div class='panel-body'>

    <form class='form-horizontal'>

      <div class="well">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/tasks/new']" class="btn btn-primary">New Task</a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
            <h3>Filter Options:</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <label for="languages">Language</label>
            <select name="languages" id="languages" class="form-control" [(ngModel)]="query.languageId" (change)="onFilterChange()">
              <option value=""></option>
              <option *ngFor="let l of languages" value="{{ l.id }}">{{ l.language }}</option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="taskSummaryKeyWord">Filter By Summary</label>
            <div class="input-group">
              <input class="form-control" type="text" id="taskSummaryKeyWord" name="taskSummaryKeyWord" [(ngModel)]="query.taskSummary">
              <span class="input-group-btn">
                <button class="btn btn-primary" (click)="onFilterChange()">Filter</button>
              </span>
            </div>
          </div>
          <div class="col-md-6">
            <label for="taskDescSummFilter">Live Filter: Summary Or Description</label>
            <div class="input-group">
              <input class="form-control" type="text" size="35" id="taskDescSummFilter" name="taskDescSummFilter" [(ngModel)]="Ng2Filter">
            </div>
          </div>
        </div>
        <div class="row">
          <br>
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="resetFilters()">Reset Filters</button>
          </div>
        </div>

      </div>

      <div class="row"></div>

      <div class="table-responsive">
        <table class="table" *ngIf='queryResult.items && queryResult.items.length'>
          <thead>
            <tr class="something">
              <th *ngFor="let c of columns">
                <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
                  {{ c.title }}
                  <i *ngIf="query.sortBy === c.key" class="fa" [class.fa-sort-asc]="query.isSortAscending" [class.fa-sort-desc]="!query.isSortAscending">
                  </i>
                </div>
                <div *ngIf="!c.isSortable">
                  {{ c.title }}
                </div>
              </th>
            </tr>
            <tr *ngFor='let task of queryResult.items | filter:Ng2Filter'>
              <!-- <tr *ngFor='let task of allTasks | taskDateSort | filter:Ng2Filter'> -->
              <td>
                <a [routerLink]="['/tasks/', task.id]">{{ task.id }}</a>
              </td>
              <td>{{ task.hours | number:'.1-5'}}</td>
              <td>
                <span *ngFor='let lang of task.languages; first as isFirst'>
                  {{ lang.language }}
                  <span *ngIf='isFirst && task.languages.length > 1'>,</span>
                </span>
              </td>
              <td>{{ task.summary }}</td>
              <td>{{ task.taskDate | date:'short' }}</td>
            </tr>
          </thead>
        </table>
      </div>

      <pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>

      <div class="row">
        <div class="col-md-12">
          <hr>
          <h5>Total Tasks: {{ queryResult.totalItems }}</h5>
        </div>
      </div>

    </form>

  </div>

</div>