<div class='panel panel-primary'>

  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <div class='panel-body'>

    <form class='form-horizontal'>
      <div class='row'>
        <h3 class='col-md-4'>Available Languages</h3>
      </div>

      <div class='col-md-3'>
        <div class='row' *ngFor='let l of languages'>
          <label class='form-check-label'>
            <input class='form-check-input' type='checkbox' id='lang{{ l.id }}'> {{ l.language }}
          </label>
        </div>
      </div>

      <div class='row'>
        <div class='col-md-6'>
          <br>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <br>
        </div>
      </div>

    </form>

  </div>
</div>