<div class='panel panel-primary'>

  <div class='panel-heading'>
    <h3>{{pageTitle}}</h3>
  </div>

  <div class='panel-body'>

    <span>
      <!-- <br>{{ task | json }} -->
      <br>
      <b>TaskId:          </b>{{ mainTask.id }}
      <br>
      <b>TaskHours:       </b> {{ mainTask.hours }}
      <br>
      <b>TaskDescription: </b> {{ mainTask.description }}
      <br>
      <b>TaskSummary:     </b>{{ mainTask.summary }}
      <br>
      <b>TaskDate:        </b>{{ mainTask.taskDate }}
      <br>
      <b>TaskLanguages:   </b>{{ mainTask.programmingLanguages | json }}
      <br>
      <br>{{ mainTask | json }}
    </span>

    <form class='form-horizontal' (ngSubmit)='submit()' #taskForm="ngForm">
      <div class='row'>
        <h3 class='col-md-4'>Languages</h3>
      </div>
      <div class='form-group'>

        <div class='table-responsive col-md-4'>
          <table class='table' *ngIf='languages && languages.length'>
            <tbody>
              <tr *ngFor='let l of languages' class='col-md-6'>
                <td>
                  <label>
                    <input class='form-check-input' type='checkbox' id='lang{{ l.id }}' (change)="onLanguageToggle(l.id, $event)"
                    [checked]="mainTask.programmingLanguages.includes(l.id)"> {{ l.language }}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class='row'>
        <h3 class='col-md-4'>Task Details</h3>
      </div>

      <div class='form-group'>
        <label for='hours' class='col-md-2 control-label'>Hours</label>
        <div class='col-md-4'>
          <input type='number' class='form-control' id='taskHours' [(ngModel)]='mainTask.hours' name='taskHours' required #taskHours="ngModel">
          <div class='alert alert-danger' *ngIf='taskHours.touched && !taskHours.valid'>Please enter the number of Hours for the Task</div>
        </div>
      </div>

      <div class='form-group'>
        <label for='datetime' class='col-md-2 control-label'>Date of Task</label>
        <div class='col-md-4'>
          <input type='datetime-local' class='form-control' id='taskDate' [(ngModel)]='mainTask.taskDate' name='taskDate' required #taskDate="ngModel">
          <div class='alert alert-danger' *ngIf='taskDate.touched && !taskDate.valid'>Please enter the Date for the Task</div>
        </div>
      </div>

      <div class='form-group'>
          <label for='description' class='col-md-2 control-label'>Summary</label>
          <div class='col-md-4'>
            <textarea type='text' class='form-control' placeholder='Short Summary of the task you completed' id='taskSummary' rows='2'
              [(ngModel)]='mainTask.summary' name='taskSummary' required #taskSummary="ngModel"></textarea>
            <small class="form-text text-muted">Keep under 100 characters</small>
            <div class='alert alert-danger' *ngIf='taskSummary.touched && !taskSummary.valid'>Please enter a Summary for the Task</div>                    
          </div>
        </div>

      <div class='form-group'>
        <label for='description' class='col-md-2 control-label'>Description</label>
        <div class='col-md-4'>
          <textarea type='text' class='form-control' placeholder='Description of the task you completed' id='taskDescription' rows='6'
            [(ngModel)]='mainTask.description' name='taskDescription' required #taskDescription="ngModel"></textarea>
          <small class="form-text text-muted">Keep under 500 characters</small>
          <div class='alert alert-danger' *ngIf='taskDescription.touched && !taskDescription.valid'>Please enter a Description for the Task</div>          
        </div>
      </div>

      <div class='form-group'>
        <div class='col-md-offset-2 col-md-3'>
          <button type='submit' class='btn btn-primary' [disabled]="!taskForm.valid">Update Task</button>
          <button type='button' class='btn btn-danger' (click)="deleteTask()">Delete Task</button>
        </div>
      </div>

    </form>

  </div>
</div>